.control-group
  = f.label :email, "Email Address:", :class => "control-label"
  .controls
    = f.text_field :email
    = required
.control-group
  = f.label :password, "Password:", :class => "control-label"
  .controls
    = f.password_field :password
    = required
.control-group
  = f.label :password_confirmation, "Confirm Password:", :class => "control-label"
  .controls
    = f.password_field :password_confirmation
    = required
