.page-inner
  - title "Forgot Your Password?"
  .page-header.record
    %h2 Reset password
    %small Please enter and submit your email to recieve a reset password

  .page-content
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f|
      = render "shared/error_messages", :target => @user
      .control-group
        = f.label :email, class: "control-label"
        .controls
          = f.text_field :email, maxlength: 50
      .form-actions
        = f.submit "Send me reset password instructions", class: "btn btn-blue"
