%table{id: table_id}
  %tr
    %th One ID
    %th First Name
    %th Last Name
    %th Email
    %th
  - search_results.each do |sr|
    %tr
      %td= sr[:one_id]
      %td= sr[:first_name]
      %td= sr[:last_name]
      %td= sr[:email]
      %td
        = form_tag(create_one_id_users_path) do
          = hidden_field_tag 'one_id', sr[:one_id]
          = submit_tag 'Create', id: "create_#{sr[:one_id]}"
