.container
  - title 'Home'
  - if !user_signed_in?
    = form_for("user", :url => user_session_path) do |f|
      = render(:partial => 'devise/sessions/form', :locals => { :f => f })
    = link_to "Sign Up", new_user_registration_path, :class => "button"
    = link_to "Forgot your password?", new_user_password_path, :class => "button"
  - else
    - if can? :create, Papyrus
      %p= link_to "Create Papyrus", new_papyrus_path, :class => "button"

  %p= link_to "List all papyri records", papyri_path, class: "button"
