.page-inner
  - title 'Home'
  .page-header
    - if @simple_search_error
      .formerror.alert.alert-error= @simple_search_error
    = form_tag search_papyri_path, method: :get do
      = label_tag :search
      = search_field_tag :search, nil, maxlength: 50, placeholder: "Please enter a search query...", class: (@simple_search_error ? 'simple_search_error span8' : 'span8')
      = submit_tag "Search", class: 'btn'
      = link_to "Advanced", advanced_search_papyri_path, class: "btn"
      = link_to "List all papyri records", papyri_path, class: "btn"
  .page-content
    #slides
      .slides_container
        .img_container= image_tag '1050-PMac.I.jpg'
        .img_container= image_tag '1050-inv332a.tif.jpg'
        .img_container= image_tag '1050-inv360a.tif.jpg'
        .img_container= image_tag '1050-inv360b.tif.jpg'
        .img_container= image_tag '1050-inv586_2a.tif.jpg'

:javascript
  $('#slides').slides({
    play: 8000,
    autoHeight: true,
    slideSpeed: 2000,
    slideEasing: "easeInOutQuad"
  });
