-title "View Access Request"
.page-inner
  .page-header.record
    %h2 View Access Request
    -if @access_request.status == AccessRequest::CREATED
      %small #{@access_request.user.first_name} #{@access_request.user.last_name} is requesting access to this record
      %br
      = form_for(@access_request, url: approve_access_request_path(@access_request)) do |f|
        = f.submit 'Approve', class: 'btn blue'
      = form_for(@access_request, url: reject_access_request_path(@access_request)) do |f|
        = f.submit 'Reject', class: 'btn red'
    -elsif @access_request.status == AccessRequest::APPROVED
      %small #{@access_request.user.first_name} #{@access_request.user.last_name} has had access to this record since #{@access_request.formatted_date_approved}
      %br
      = form_for(@access_request, url: revoke_access_request_path(@access_request)) do |f|
        = f.submit 'Revoke Access'
    -if @access_request.status == AccessRequest::CREATED
      = link_to 'Cancel', pending_access_requests_path, class: 'btn'
    -elsif @access_request.status == AccessRequest::APPROVED
      = link_to 'Cancel', approved_access_requests_path, class: 'btn'

  .page-content
    = render partial: 'papyri/details', locals: {papyrus: @access_request.papyrus}
