-if @access_request.status == AccessRequest::CREATED
  %p #{@access_request.user.first_name} #{@access_request.user.last_name} is requesting access to this record
  = form_for(@access_request, url: approve_access_request_path(@access_request)) do |f|
    = f.submit 'Approve'
  = form_for(@access_request, url: reject_access_request_path(@access_request)) do |f|
    = f.submit 'Reject'
-elsif @access_request.status == AccessRequest::APPROVED
  %p #{@access_request.user.first_name} #{@access_request.user.last_name} has had access to this record since #{@access_request.date_approved}
  = form_for(@access_request, url: revoke_access_request_path(@access_request)) do |f|
    = f.submit 'Revoke Access'

.page-content
  = render partial: 'papyri/details', locals: {papyrus: @access_request.papyrus}

-if @access_request.status == AccessRequest::CREATED
  = link_to 'Cancel', pending_access_requests_path, class: 'btn'
-elsif @access_request.status == AccessRequest::APPROVED
  = link_to 'Cancel', approved_access_requests_path, class: 'btn'