.page-content-record
  %h3 Papyrus details
  - with_renderer_for(papyrus, current_user) do |renderer|
    = renderer.render('MQT Number', :formatted_mqt_number)
    = renderer.render('MQT Note', :mqt_note)
    = renderer.render('Inventory Number', :inventory_number)
    = renderer.render('P.Macq Number', :formatted_pmacq_number)
    = renderer.render('APIS ID', :apis_id)
    = renderer.render('Trismegistos ID', :trismegistos_id)
    = renderer.render('Physical location', :physical_location)
    = renderer.render('Languages', :languages_csv)
    = renderer.render('Dimensions', :dimensions)
    = renderer.render('Material', :material)
    = renderer.render('Date', :formatted_date)
    = renderer.render('Date Note', :date_note)
    = renderer.render('General Note', :general_note)
    = renderer.render('Lines of Text', :lines_of_text)
    = renderer.render('Other Characteristics', :other_characteristics)
    = renderer.render('Paleographic Description', :paleographic_description)
    = renderer.render('Recto Verso Note', :recto_verso_note)
    = renderer.render('Type of Text', :type_of_text)
    = renderer.render('Modern Textual Dates', :modern_textual_dates)
    = renderer.render('Publications', :publications)
    = renderer.render('Origin Details', :origin_details)
    = renderer.render('Source of Acquisition', :source_of_acquisition)
    = renderer.render('Preservation Note', :preservation_note)
    = renderer.render('Conservation Note', :conservation_note)
    = renderer.render('Genre', :genre_name)
    = renderer.render('Language Note', :language_note)
    = renderer.render('Summary', :summary)
    = renderer.render('Original Text', :original_text)
    = renderer.render('Translated Text', :translated_text)
    = renderer.render('Keywords', :keywords)

  %h4 Names
  - if can? :create, Name
    = link_to 'Add Name', new_papyrus_name_path(papyrus), class: 'btn'
  -# names are basic access
  - if papyrus.names.count == 0
    No Names
  - else
    - papyrus.names.each do |name|
      .name_container
        = render_field 'Name', name.name, "name_name"
        = render_field 'Role', name.human_readable_role, "name_role"
        = render_field 'Role Note', name.role_note, "name_role_note"
        = render_field 'Added Information', name.added_information, "name_added_information"
        = render_field 'Date', name.date, "name_date"

        - if can? :update, name
          = link_to 'Edit', edit_papyrus_name_path(papyrus, name), id: "edit_name_#{name.id}"

  %h4 Connections
  - if can? :create, Connection
    = link_to 'Add Connection', new_papyrus_connection_path(papyrus), class: 'btn'
  -# connections are basic access
  - if papyrus.connections.count == 0
    No Connections
  - else
    %ul
      - papyrus.connections.each do |connection|
        - if can? :read, connection.related_papyrus
          %li.connection
            %span
            = link_to "MQT #{connection.related_papyrus.mqt_number}", papyrus_path(connection.related_papyrus)
            = "- #{connection.description}"
          - if can? :update, connection
            = link_to 'Edit', edit_papyrus_connection_path(@papyrus, connection), id: "edit_connection_#{connection.id}"

.page-content-images
  %h3 Papyrus Images
  %ul(class="image-list")
    - papyrus.images.each do |image|
      -if can? :low_res, image
        %li
          %div
            = image_tag image.image.url(:low_res), title: image.caption
            %div
              = image.caption
              = link_to 'Download in low resolution', image.image.url(:low_res), id: "download_low_res_#{image.id}", class: "btn"
              - if can? :high_res, image
                = link_to 'Download in high resolution', image.image.url(:original), id: "download_high_res_#{image.id}", class: "btn"
              - if can? :update, image
                = link_to 'Edit', edit_papyrus_image_path(papyrus, image), id: "edit_image_#{image.id}"
