.page-content-record
  - with_renderer_for(papyrus, current_user) do |renderer|
    %h3 Identification
    = renderer.render('MQT Number', :formatted_mqt_number)
    = renderer.render('Inventory Number', :inventory_number)
    = renderer.render('P.Macq Number', :formatted_pmacq_number)
    = renderer.render('APIS ID', :apis_id)
    = renderer.render('Trismegistos ID', :trismegistos_id)
    = renderer.render('MQT Note', :mqt_note)
    = renderer.render('Physical location', :physical_location)
    = renderer.render('Source of Acquisition', :source_of_acquisition)
    %h3 Physical properties
    = renderer.render('Dimensions', :dimensions)
    = renderer.render('Material', :material)
    = renderer.render('Preservation Note', :preservation_note)
    = renderer.render('Conservation Note', :conservation_note)
    = renderer.render('Paleographic Description', :paleographic_description)
    = renderer.render('Date', :formatted_date)
    = renderer.render('Date Note', :date_note)
    = renderer.render('Lines of Text', :lines_of_text)
    = renderer.render('Other Characteristics', :other_characteristics)
    %h3 Content
    = renderer.render('Languages', :languages_csv)
    = renderer.render('Language Note', :language_note)
    = renderer.render('Genre', :genre_name)
    = renderer.render('Type of Text', :type_of_text)
    = renderer.render('General Note', :general_note)
    = renderer.render('Recto Verso Note', :recto_verso_note)
    = renderer.render('Modern Textual Dates', :modern_textual_dates)
    = renderer.render('Summary', :summary)
    = renderer.render('Keywords', :keywords)
    = renderer.render('Origin Details', :origin_details)
    = renderer.render('Original Text', :original_text)
    = renderer.render('Translated Text', :translated_text)
    = renderer.render('Publications', :publications)

  %h3
    Names
    - if can? :create, Name
      = link_to 'Add Name', new_papyrus_name_path(papyrus), class: 'btn'
  #display_names.control-group
    -# names are basic access
    - if papyrus.names.count == 0
      .controls No Names
    - else
      - papyrus.names.each do |name|
        .name_container
          - if can? :update, name
            .controls= link_to 'Edit', edit_papyrus_name_path(papyrus, name), id: "edit_name_#{name.id}", class: 'btn'
          = render_field 'Name', name.name, nil, "name_name"
          = render_field 'Role', name.human_readable_role, nil, "name_role"
          = render_field 'Role Note', name.role_note, nil, "name_role_note"
          = render_field 'Added Information', name.added_information, nil, "name_added_information"
          = render_field 'Date', name.date, nil, "name_date"


  %h3
    Connections
    - if can? :create, Connection
      = link_to 'Add Connection', new_papyrus_connection_path(papyrus), class: 'btn'
  #display_connections.control-group
    .controls
      -# connections are basic access
      - if papyrus.connections.count == 0
        No Connections
      - else
        %ul
          - papyrus.connections.each do |connection|
            - if can? :read, connection.related_papyrus
              %li.connection
                %span
                = link_to "MQT #{connection.related_papyrus.mqt_number}", papyrus_path(connection.related_papyrus)
                = "- #{connection.description}"
              - if can? :update, connection
                = link_to 'Edit', edit_papyrus_connection_path(papyrus, connection), id: "edit_connection_#{connection.id}", class: 'btn'

.page-content-images
  %h3 Papyrus Images
  %ul.image-list
    - papyrus.images.each do |image|
      -if can? :low_res, image
        %li
          %div
            = image_tag image.image.url(:low_res), title: image.caption
            %div
              = image.caption
              = link_to 'Download in low resolution', image.image.url(:low_res), id: "download_low_res_#{image.id}", class: "btn"
              - if can? :high_res, image
                = link_to 'Download in high resolution', image.image.url(:original), id: "download_high_res_#{image.id}", class: "btn"
              - if can? :update, image
                = link_to 'Edit', edit_papyrus_image_path(papyrus, image), id: "edit_image_#{image.id}"
