= form_for @papyrus do |f|
  = render partial: 'shared/error_messages', locals: {target: @papyrus}

  %h3 Identification
  = render_field('MQT Number', f.text_field(:mqt_number, maxlength: 32), :papyrus_mqt_number)
  = render_field('Inventory Number', f.text_field(:inventory_number), :papyrus_inventory_number)
  = render_field_with_block('P.Macq Number') do
    = f.label(:volume_number, 'Vol', class: 'inlinelabel')
    = f.text_field(:volume_number, maxlength: 5)
    = f.label(:item_number, 'Item', class: 'inlinelabel')
    = f.text_field(:item_number, maxlength: 6)
  = render_field('APIS ID', f.text_field(:apis_id), :papyrus_apis_id)
  = render_field('Trismegistos ID', f.text_field(:trismegistos_id, maxlength: 32), :papyrus_trismegistos_id)
  = render_field('MQT Note', f.text_area(:mqt_note, :class => "medium"), :papyrus_mqt_note)
  = render_field('Physical location', f.text_field(:physical_location), :papyrus_physical_location)
  = render_field('Source of Acquisition', f.text_area(:source_of_acquisition, rows: 2), :papyrus_source_of_acquisition)
  %h3 Physical properties
  = render_field('Dimensions', f.text_area(:dimensions, :class => "medium"), :papyrus_dimensions)
  = render_field('Material', f.text_field(:material), :papyrus_material)
  = render_field('Preservation Note', f.text_area(:preservation_note, rows: 6), :papyrus_preservation_note)
  = render_field('Conservation Note', f.text_area(:conservation_note, rows: 6), :papyrus_conservation_note)
  = render_field('Paleographic Description', f.text_area(:paleographic_description, rows: 4), :papyrus_paleographic_description)
  = render_field_with_block('Date From') do
    = f.label(:date_from_year, 'Year', class: 'inlinelabel')
    \/
    = f.label(:date_from_era, 'Era', class: 'inlinelabel')
    = text_field_tag(:papyrus_date_from_year, @papyrus.date_from_year || '', class: 'input-mini')
    - from_options = options_for_select([['CE'], ['BCE']], selected = @papyrus.date_from_era)
    = select_tag(:papyrus_date_from_era, from_options, include_blank: true)
  = render_field_with_block('Date To') do
    = f.label(:date_to_year, 'Year', class: 'inlinelabel')
    \/
    = f.label(:date_to_era, 'Era', class: 'inlinelabel')
    = text_field_tag(:papyrus_date_to_year, @papyrus.date_to_year || '', class: 'input-mini')
    - to_options = options_for_select([['CE'], ['BCE']], selected = @papyrus.date_to_era)
    = select_tag(:papyrus_date_to_era, to_options, include_blank: true)
  = render_field('Date Note', f.text_area(:date_note, rows: 2), :papyrus_date_note)
  = render_field('Lines of Text', f.text_area(:lines_of_text, rows: 4), :papyrus_lines_of_text)
  = render_field('Other Characteristics', f.text_area(:other_characteristics, rows: 4), :papyrus_other_characteristics)
  %h3 Content
  = render_field_with_block('Languages') do
    - Language.all.each do |l|
      .checkbox
        = check_box_tag "papyrus[language_ids][]", l.id, @papyrus.languages.include?(l), id: "papyrus_language_ids_#{l.id}", class: 'papyrus_language_checkbox'
        = label_tag "papyrus_language_ids_#{l.id}", l.name
  = render_field('Language Note', f.text_area(:language_note, rows: 2), :papyrus_language_note)
  = render_field('Genre', f.select(:genre_id, Genre.all.map{|g| [g.name, g.id]}, {include_blank: true}, id: 'papyrus_genre'), :papyrus_genre)
  = render_field('Type of Text', f.text_field(:type_of_text), :papyrus_type_of_text)
  = render_field('General Note', f.text_area(:general_note, rows: 4), :papyrus_general_note)
  = render_field('Recto Verso Note', f.text_area(:recto_verso_note, rows: 2), :papyrus_recto_verso_note)
  = render_field('Modern Textual Dates', f.text_field(:modern_textual_dates), :papyrus_modern_textual_dates)
  = render_field('Summary', f.text_area(:summary, rows: 10), :papyrus_summary)
  = render_field('Keywords', f.text_area(:keywords, rows: 2), :papyrus_keywords)
  = render_field('Origin Details', f.text_field(:origin_details), :papyrus_origin_details)
  = render_field('Original Text', f.text_area(:original_text, rows: 10), :papyrus_original_text)
  = render_field('Translated Text', f.text_area(:translated_text, rows: 10), :papyrus_translated_text)
  = render_field('Publications', f.text_area(:publications, rows: 4), :papyrus_publications)
  .form-actions
    = f.submit 'Save', class: "btn"
    - if is_edit
      = link_to 'Cancel', @papyrus, class: "btn"
    - else
      = link_to 'Cancel', papyri_path, class: "btn"
