= form_for @papyrus do |f|
  -if @papyrus.errors.any?
    #error_explanation.formerror.alert.alert-error
      %h3= "#{pluralize(@papyrus.errors.count, "error")} prohibited this papyrus from being saved:"
      %ul
        - @papyrus.errors.full_messages.each do |msg|
          %li= msg

  = render_field('MQT Number', f.text_field(:mqt_number, maxlength: 32))
  = render_field('MQT Note', f.text_field(:mqt_note))
  = render_field('Inventory ID', f.text_field(:inventory_id))
  = render_field_with_block('P.Macq Number') do
    = f.text_field(:volume_number, maxlength: 5)
    = f.text_field(:item_number, maxlength: 6)
  = render_field('APIS ID', f.text_field(:apis_id))
  = render_field('Trismegistos ID', f.text_field(:trismegistos_id, maxlength: 32))
  = render_field('Physical location', f.text_field(:physical_location))
  = render_field_with_block('Languages') do
    - Language.all.each do |l|
      .checkbox
        = check_box_tag "papyrus[language_ids][]", l.id, @papyrus.languages.include?(l), id: "papyrus_language_ids_#{l.id}", class: 'papyrus_language_checkbox'
        = label_tag "papyrus_language_ids_#{l.id}", l.name
  = render_field('Dimensions', f.text_area(:dimensions, :class => "medium"))
  = render_field('Material', f.text_field(:material))
  = render_field_with_block('Date From') do
    = text_field_tag(:papyrus_date_from_year, @papyrus.date_from_year || '', class: 'input-mini')
    - from_options = options_for_select([['CE'], ['BCE']], selected = @papyrus.date_from_era)
    = select_tag(:papyrus_date_from_era, from_options, include_blank: true)
  = render_field_with_block('Date To') do
    = text_field_tag(:papyrus_date_to_year, @papyrus.date_to_year || '', class: 'input-mini')
    - to_options = options_for_select([['CE'], ['BCE']], selected = @papyrus.date_to_era)
    = select_tag(:papyrus_date_to_era, to_options, include_blank: true)
  = render_field('Date Note', f.text_area(:date_note, rows: 2))
  = render_field('General Note', f.text_area(:general_note, rows: 4))
  = render_field('Lines of Text', f.text_area(:lines_of_text, rows: 4))
  = render_field('Other Characteristics', f.text_area(:other_characteristics, rows: 4))
  = render_field('Paleographic Description', f.text_area(:paleographic_description, rows: 4))
  = render_field('Recto Verso Note', f.text_area(:recto_verso_note, rows: 2))
  = render_field('Modern Textual Dates', f.text_field(:modern_textual_dates))
  = render_field('Publications', f.text_area(:publications, rows: 4))
  = render_field('Origin Details', f.text_field(:origin_details))
  = render_field('Source of Acquisition', f.text_area(:source_of_acquisition, rows: 2))
  = render_field('Preservation Note', f.text_area(:preservation_note, rows: 6))
  = render_field('Conservation Note', f.text_area(:conservation_note, rows: 6))
  = render_field('Genre', f.select(:genre_id, Genre.all.map{|g| [g.name, g.id]}, {include_blank: true}, id: 'papyrus_genre'))
  = render_field('Type of Text', f.text_field(:type_of_text))
  = render_field('Language Note', f.text_area(:language_note, rows: 2))
  = render_field('Summary', f.text_area(:summary, rows: 10))
  = render_field('Original Text', f.text_area(:original_text, rows: 10))
  = render_field('Translated Text', f.text_area(:translated_text, rows: 10))
  .form-actions
    = f.submit 'Save', class: "btn"
