%table{id: table_id}
  %thead
    %tr
      %th MQT Number
      %th Text Type (Genre)
      %th Origin
      %th Date
      %th Language/Script
      %th Image

  %tbody
    - papyri.each do |papyrus|
      %tr{class: cycle("field_bg", "field_nobg")}
        %td= link_to papyrus.formatted_mqt_number, papyrus
        %td= papyrus.genre.try(:name)
        %td= papyrus.origin_details
        %td= papyrus.formatted_date
        %td= papyrus.languages_csv
        %td
          -if papyrus.images.first
            =image_tag papyrus.images.first.image.url(:thumbnail), title: papyrus.images.first.caption, id: "thumbnail_#{papyrus.id}"
