%table{id: table_id}
  %tr
    %th MQT Number
    %th Inventory ID
    %th Note
    %th Country of Origin
    %th Translation

  - @papyri.each do |papyrus|
    %tr
      %td= link_to papyrus.formatted_mqt_number, papyrus
      %td= papyrus.inventory_id
      %td= papyrus.note
      %td= papyrus.country_of_origin.try :name
      %td= papyrus.human_readable_has_translation
