- title "Advanced Search"
.page-inner
  .page-header.record
    %h2 Advanced Search
  .page-content
    = form_tag advanced_search_papyri_path, method: :get do
      = render partial: 'shared/error_messages_only', locals: {messages: @errors}
      .mqt-half
        = render_field_with_block('Date From') do
          = label_tag(:date_from_year, 'Year', class: 'inlinelabel')
          \/
          = label_tag(:date_from_era, 'Era', class: 'inlinelabel')
          = text_field_tag(:date_from_year, @search_fields[:date_from_year], class: 'input-mini')
          - from_options = options_for_select([['CE'], ['BCE']], @search_fields[:date_from_era])
          = select_tag(:date_from_era, from_options, include_blank: true)

        = render_field('Inventory Number', search_field_tag(:inventory_number, @search_fields[:inventory_number], maxlength: 50), :inventory_number)
        = render_field('General Note', search_field_tag(:general_note,  @search_fields[:general_note], maxlength: 50), :general_note)
        = render_field('Lines of Text', search_field_tag(:lines_of_text,  @search_fields[:lines_of_text], maxlength: 50), :lines_of_text)
        = render_field('Paleographic Description', search_field_tag(:paleographic_description, @search_fields[:paleographic_description], maxlength: 50), :paleographic_description)
        = render_field('Recto Verso Note', search_field_tag(:recto_verso_note, @search_fields[:recto_verso_note], maxlength: 50), :recto_verso_note)
        = render_field('Origin Details', search_field_tag(:origin_details, @search_fields[:origin_details], maxlength: 50), :origin_details)

      .mqt-half
        = render_field_with_block('Date To') do
          = label_tag(:date_to_year, 'Year', class: 'inlinelabel')
          \/
          = label_tag(:date_to_era, 'Era', class: 'inlinelabel')
          = text_field_tag(:date_to_year, @search_fields[:date_to_year], class: 'input-mini')
          - to_options = options_for_select([['CE'], ['BCE']], selected = @search_fields[:date_to_era])
          = select_tag(:date_to_era, to_options, include_blank: true)
        = render_field('Source of Acquisition', search_field_tag(:source_of_acquisition, @search_fields[:source_of_acquisition], maxlength: 50), :source_of_acquisition)
        = render_field('Preservation Note', search_field_tag(:preservation_note, @search_fields[:preservation_note], maxlength: 50), :preservation_note)
        = render_field('Language Note', search_field_tag(:language_note, @search_fields[:language_note], maxlength: 50), :language_note)
        = render_field('Summary', search_field_tag(:summary, @search_fields[:summary], maxlength: 50), :summary)
        = render_field('Original Text', search_field_tag(:original_text, @search_fields[:original_text], maxlength: 50), :original_text)
        = render_field('Translated Text', search_field_tag(:translated_text, @search_fields[:translated_text], maxlength: 50), :translated_text)
      .form-actions
        = submit_tag 'Search', class: "btn btn-blue"
    -if @papyri.empty?
      -if @with_params and @errors.empty?
        No Results Found
    -else
      %h1 Search Results
      = render partial: 'table', locals: {table_id: 'search_results', papyri: @papyri}
      %br
      = will_paginate @papyri
