%h1 Listing papyri

%table#papyri_table
  %tr
    %th Inventory ID
    %th Note
    %th Country of Origin
    %th Translation

  - @papyri.each do |papyrus|
    %tr
      %td= link_to papyrus.inventory_id, papyrus
      %td= papyrus.note
      %td= papyrus.country_of_origin.try :name
      %td= papyrus.human_readable_has_translation

%br

= link_to 'New Papyrus', new_papyrus_path
