<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.stoa.org/epidoc/schema/latest/tei-epidoc.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title><%= h papyrus.xml_title %></title>
            <% papyrus.authors.each do |author| %>
              <author><%= h author.name %></author>
            <% end %>
         </titleStmt>
         <publicationStmt>
            <authority>APIS</authority>
            <idno type="apisid">macquarie.apis.<%= papyrus.id %></idno>
            <idno type="MQTNumber"><%= papyrus.mqt_number %></idno>
         </publicationStmt>
         <sourceDesc>
            <msDesc>
               <msIdentifier>
                  <idno type="invNo"><%= h papyrus.inventory_number %></idno>
               </msIdentifier>
               <institution>Macquarie Museum</institution>
               <msContents>
                  <summary><%= h papyrus.summary %></summary>
                  <msItemStruct>
                     <note type="general">Location: Macquarie Museum<%= papyrus.physical_location.present? ? ", #{h papyrus.physical_location}" : '' %></note>
                     <% if papyrus.languages.count == 1 %>
                       <% lang = papyrus.languages.first %>
                       <textLang mainLang="<%= lang.code %>"><%= lang.name %></textLang>
                     <% elsif papyrus.languages.count > 1%>
                       <textLang otherLangs="<%= papyrus.language_codes_space_separated %>"><%= papyrus.languages_csv %></textLang>
                     <% end %>
                  </msItemStruct>
               </msContents>
               <physDesc>
                  <objectDesc>
                     <supportDesc>
                        <support><%= h papyrus.material %>
                               <%= h papyrus.other_characteristics %>
                          <note type="dimensions"><%= h papyrus.dimensions %></note>
                        </support>
                        <% if [papyrus.conservation_note, papyrus.preservation_note].any?(&:present?) %>
                          <condition>
                             <% if papyrus.conservation_note.present? %>
                               <ab type="conservation"><%= h papyrus.conservation_note %></ab>
                             <% end %>
                             <% if papyrus.preservation_note.present? %>
                               <ab type="preservation"><%= h papyrus.preservation_note %></ab>
                             <% end %>
                          </condition>
                        <% end %>
                     </supportDesc>
                     <layoutDesc>
                        <layout>
                           <ab type="lines"><%= h papyrus.lines_of_text %></ab>
                           <% if papyrus.recto_verso_note.present? %>
                             <ab type="recto-verso"><%= h papyrus.recto_verso_note %></ab>
                           <% end %>
                        </layout>
                     </layoutDesc>
                  </objectDesc>
                  <handDesc>
                     <p><%= h papyrus.paleographic_description %></p>
                  </handDesc>
               </physDesc>
               <% if [papyrus.date_from, papyrus.origin_details, papyrus.names, papyrus.source_of_acquisition].any?(&:present?) %>
               <history>
                  <origin>
                     <origDate notBefore="<%= papyrus.xml_date_from %>" notAfter="<%= papyrus.xml_date_to %>"><%= papyrus.formatted_date %> <%= h papyrus.date_note %></origDate>
                     <origPlace><%= h papyrus.origin_details %></origPlace>
                     <% papyrus.names.each do |name| %>
                       <persName type="<%= name.human_readable_role %>"><%= h name.name %></persName>
                     <% end %>
                  </origin>
                  <% if papyrus.source_of_acquisition.present? %>
                    <acquisition>
                       <p><%= h papyrus.source_of_acquisition %></p>
                    </acquisition>
                  <% end %>
               </history>
               <% end %>
            </msDesc>
         </sourceDesc>
      </fileDesc>
      <% if [papyrus.keywords, papyrus.genre].any?(&:present?) %>
      <encodingDesc>
         <classDecl>
            <taxonomy xml:id="apis">
               <desc>APIS keywords are controlled locally at the institution level. They are not necessarily consistent.</desc>
            </taxonomy>
         </classDecl>
      </encodingDesc>
      <% end %>
      <% if [papyrus.languages, papyrus.split_keywords, papyrus.genre].any?(&:present?) %>
      <profileDesc>
         <% if papyrus.languages.present? %>
         <langUsage>
          <% papyrus.languages.order('name').each do |lang| %>
            <language ident="<%= lang.code %>"><%= lang.name %></language>
          <% end %>
         </langUsage>
         <% end %>
         <% if [papyrus.split_keywords, papyrus.genre].any?(&:present?) %>
         <textClass>
            <keywords scheme="#apis">
               <% papyrus.split_keywords.each do |keyword| %>
                 <term><%= h keyword %></term>
               <% end %>
               <% if papyrus.genre.present? %>
                 <term type="genre_form"><%= papyrus.genre.name %></term>
               <% end %>
            </keywords>
         </textClass>
         <% end %>
      </profileDesc>
      <% end %>
   </teiHeader>
   <text>
      <body>
         <% if papyrus.original_text %>
         <div type="textpart">
            <ab><%= h papyrus.original_text %></ab>
         </div>
         <% end %>
         <% if papyrus.translated_text %>
         <div type="translation">
            <ab><%= h papyrus.translated_text %></ab>
         </div>
         <% end %>
         <div type="bibliography" subtype="citations">
            <% if papyrus.publications %>
            <listBibl>
               <bibl><%= h papyrus.publications %></bibl>
            </listBibl>
            <% end %>
            <p>
            <ref target="<%= the_papyrus_url %>">Original record</ref>.</p>
         </div>
      </body>
   </text>
</TEI>
