.page-inner
  .page-header.record
    %h2 Viewing papyrus
    - if can? :view_visibility, @papyrus
      %small= "Record is #{@papyrus.visibility.downcase}"

    - if can? :request_access, @papyrus
      = form_tag request_access_papyrus_path(@papyrus) do
        = submit_tag 'Request Access', class: "btn btn-blue"

    - if can? :cancel_access_request, @papyrus
      = form_tag cancel_access_request_papyrus_path(@papyrus) do
        = submit_tag 'Cancel Access'

    - if can? :create, Image
      = link_to 'Upload', new_papyrus_image_path(@papyrus), class: "btn"

    - if can? :update, @papyrus
      = link_to 'Edit this record', edit_papyrus_path(@papyrus), class: "btn"

    - if can? :make_visible, @papyrus
      = form_tag make_visible_papyrus_path(@papyrus) do
        = submit_tag 'Make Visible'

    - if can? :make_hidden, @papyrus
      = form_tag make_hidden_papyrus_path(@papyrus) do
        = submit_tag 'Make Hidden'

    - if can? :make_public, @papyrus
      = form_tag make_public_papyrus_path(@papyrus) do
        = submit_tag 'Make Public'

  .page-content
    = render partial: 'details', locals: {papyrus: @papyrus}

    .form-actions
      = link_to 'Back', papyri_path, class: "btn"
