.page-inner
  .page-header.record
    %h2 Upload Images
  .page-content
    = render partial: 'shared/error_messages', locals: {target: @image}
    = form_for([@papyrus, @image]) do |f|
      = render_field('Image', f.file_field(:image))
      = render_field('Caption', f.text_area(:caption, max_length: 255))
      = render_field('Ordering', f.text_field(:ordering, max_length: 1))
      .form-actions
        = f.submit 'Upload', class: "btn btn-blue"
        = link_to 'Cancel', papyrus_path(@papyrus), class: "btn"
