<!DOCTYPE html>
<html>
<head>
  <title>Dc12c - <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if alert %>
  <div class="alert" ><p><%= alert %></p></div>
<% end %>

<% if notice %>
  <div class="notice" ><p><%= notice %></p></div>
<% end %>

<div id="header">
<div class="header-inner">
  <div class="logo"><a href="/"><strong>Papyri</strong>.dc12c</a></div>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
      <%= tabs_tag(:builder => MenuTabBuilder) do |tab| %>
        <ul class="nav">
          <%= tab.home 'Home', root_url %>
          <%= tab.about 'About', root_url %> 
        </ul>
        <% if user_signed_in? %>
          <ul class="nav pull-right">
            <% if can? :admin, User %>
            <%= tab.admin 'Admin', admin_index_path %>
            <% end %>
            <%= tab.editaccount current_user.email, users_profile_path, :class => "user" %>
            <%= tab.logout "Logout", destroy_user_session_path, :class => "logout" %>
            <% else %>
              <ul class="nav pull-right">
                <%= tab.signin "Sign In", new_user_session_path %>
              </ul>
            <% end %>
          </ul>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

<div id='page'>
  <%#<%= yield :title %>
  <%= yield %>
</div>


<div id="footer">
  <div class="footer-inner">
    <a target="_about" href="http://www.intersect.org.au/attribution-policy" class="logo"></a>Developed by
    Intersect Australia Ltd
  </div>
</div>



</body>
</html>
